@charset "UTF-8";

:root {
    --cor1: #8DAEC9;
    --cor2: #677F93;
    --cor3: #5193C9;
    --cor4: #325B7D;
    --cor5: #1E364A;
}

@media screen and (min-width: 992px) {
    span#hamburguer {
        display: none;
    }

    menu {
        display: block;
        background-color: var(--cor5);
    }

    menu > ul > li {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
    }

    menu > ul > li > a {
        border: none;
    }

    main {
        width: 800px;
    }
}