@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
}

body {
    background-color: #E8E5C2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

p {
    padding: 10px;
}

header {
    background-image: linear-gradient(#2BA463, #023B1A);
    margin: 0px;
}

header > h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    padding: 40px 0px 20px 0px;
    margin: 0px;
}

header > p {
    text-align: center;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
}

nav {
    padding: 10px;
}

nav > a {
    font-weight: bold;
    text-decoration: none;
    color: #8DD4AE;
    padding: 20px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #00000066;
    border-radius: 0px 0px 10px 10px;
    margin: 0px 100px 0px 100px;
}

main > h1 {
    font-family: 'idroid';
    padding: 10px;
    margin: 0px;
}

main > img, iframe {
    display: block;
    width: 583px;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    font-family: 'idroid';
    padding: 10px;    
}

main > section {
    background-color: #81E2AB;
    box-shadow: 5px 5px 10px #00000066;
    border-radius: 10px;
    margin: 20px;
}

main > section > h3 {
    background-color: #175C34;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin: 0px;
}

aside > ul > article > section > main {
    display: inline-block;
    color: #0B5025;
}

main > p#final {
    text-align: center;
}

footer {
    color: #ffffff;
    background-color: #175C34;
    text-align: center;
    padding: 5px;
}