@charset "UTF-8";

/*
    - em HTML é id = em CSS é # (só pode um elemento)
    - em HTML é class = em CSS é . (pode vários elemento)
*/

body {
    background-color: #8085e0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #101136;
}

p {
    text-align: justify;
}

h1#principal {
    text-align: center;
    background-color: #222675;
    color: #ffffff;
}

p#inter_um {
    color: black;
}

p#inter_dois {
    color: black;    
}

.basico {
    color: #222675;
}

.intermediario {
    color: #227534;
    text-align: right;
}

.avancado {
    color: #752222;
}

.destaque {
    background-color: #757422be;
}